@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #ded4d2;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 200px;
  border-radius: 50%;
}